.favouritebutton {
  border: 1px solid grey;
  border-radius: 100%;
}

.favouritebutton:hover {
  cursor: pointer;
}

.favouritebutton__active {
  background: lightgrey;
}

.favouritebutton__active:hover {
  background: white;
}

.favouritebutton__inactive {
  background: white;
}

.favouritebutton__inactive:hover {
  background: lightgrey;
}
